@inherits LayoutComponentBase

<div class="flex flex-col w-full">
    <Palettes.App.Components.Common.Navigation.Header />
    <main class="px-6 py-4">
        <div class="mx-auto max-w-5xl">
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
