@page "/"
@inherits AuthenticatedPageBase

<PageTitle>ホーム | Q-Palettes</PageTitle>

<div class="flex flex-col gap-y-2">
    <h2>みんなのスタンプパレット</h2>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-3">
        @if (PublicStampPalettes is null)
        {
            <p>
                読み込み中...
            </p>
        }
        else
        {
            foreach (var sp in PublicStampPalettes)
            {
                <StampPaletteCardLink StampPalette="sp" />
            }
        }
    </div>
</div>

@code {
    Api.StampPaletteApi.GetStampPaletteListResult.StampPaletteAbstraction[]? PublicStampPalettes;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await using var api = await ApiClientFactory.CreateApiClientAsync();
        var publicStampPalettes= await api.GetPublicStampPalettesAsync();

        if (publicStampPalettes.StatusCode == System.Net.HttpStatusCode.OK)
        {
            PublicStampPalettes = publicStampPalettes.Result?.StampPalettes;
        }
    }
}
