@inherits ComponentBase
@inject NavigationManager Navigation

<div>
    <p>Q-Palettesを利用するには、traQでの認証が必要です。</p>
    <a href="@($"/login?redirect={Uri.EscapeDataString($"/{Navigation.ToBaseRelativePath(Navigation.Uri).TrimStart('/')}")}")">認証</a>
</div>
