@inject AuthenticationStateProvider AuthStateProvider
@inject IOptions<Configurations.TraqClientOptions> TraqOptions

<header class="w-full h-[4rem] px-6 flex flex-row gap-x-6 items-center justify-between bg-bg-default-secondary">
    <span class="inline tx-h2 hover:cursor-pointer hover:text-default-secondary">
        <a href="/">Q-Palettes</a>
    </span>
    @if (LoggedInUsername is not null)
    {
        <span class="w-fit h-fit rounded-full overflow-hidden">
            <TraqUserIcon TraqApiBaseUri="@TraqOptions.Value.ApiBaseAddress"
                          Username="@LoggedInUsername"
                          Width="40"
                          Height="40"/>
        </span>
    }
</header>

@code {
    string? LoggedInUsername = null;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity is { IsAuthenticated: true })
        {
            LoggedInUsername = authState.User.FindFirst(ClaimTypes.Name)?.Value;
        }
    }
}
